
/********CSS for mobile********/
.banner {
	background-image:  url(../img/banner.png);
	width: 100%;
}
.logo img {
	width: 40%;
	margin-top: 10px;

}
.header_top .test,.header_top .navbar.navbar-default,.header_top .navbar-header {
	position: static;
}
.header_top .mobile {
	position: relative;
}
.header_top .navbar-default {
	background-color: #fff;
	 border-color: #fff;
}
.navbar-header button.navbar-toggle.collapsed {
	background-color: #fff;
	border-color: #fff;
	position: absolute;
	top: 0px;
	right: 0;
	

}
.navbar-default .navbar-toggle:hover {
	position: absolute;
	top: 0px;
	right: 0;
	background-color: #fff;
	border-color: #fff;
}
/*#bs-example-navbar-collapse-1.navbar-collapse.collapse.in {
	margin-top: 8px;
	border-color: #2ec866;
}*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	margin-top: 8px;
	border-color: #2ec866;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #444;
}
.search-box {
	display: none;
}
ul.nav.navbar-nav li a {
	color: #444;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;

}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover  {
	background-color: #fff;
	color: #2ec866;
}
#bs-example-navbar-collapse-1 ul li .login {
	width: 30%;
	background-color: #fff;
	color: #2ec866;
	border-color: #2ec866;
}

#bs-example-navbar-collapse-1 ul li .sign-in {
	width: 30%;
	float: right;
	margin-top: -43px;
	background-color: #2ec866;
	color: #fff;

}
.banner {
	display: none;
}
.hot_course {
	background: #f2f2f2;
	margin-top: -18px;
}
h2#title_card {
	text-transform: uppercase;
	padding-top: 16px;
	padding-bottom: 16px;
	font-family: "Times New Roman", Times, serif;
}







@media screen and (min-width: 1024px) {


.header_top .navbar-default {
	background-color: #fff;
	 border-color: #fff;
}
.header_top .logo .img-responsive{
	max-height: 50px;
}




#bs-example-navbar-collapse-1 {
	margin-top: 16px;
}
#bs-example-navbar-collapse-1 ul li a {
	font-size: 15px;
	font-weight: 700;
	color: #39424E;

}
#bs-example-navbar-collapse-1 ul li a:hover {
	color: #2ec866;
}

#bs-example-navbar-collapse-1 ul li.active a {
	color: #2ec866;
	background-color: #fff;
}
#bs-example-navbar-collapse-1 ul li .login {
	padding: 10px 5px;
    border-radius: 3px;
    margin-left: 53px;
    margin-right: 29px;
    border: 1px solid #2ec866;
    color: #2ec866;
    font-weight: normal;
    width: 50%;
}
#bs-example-navbar-collapse-1 ul li .login:hover {
	color: #fff;
	background-color: #2ec866;

}
#bs-example-navbar-collapse-1 ul li .sign-in {
	padding: 10px 15px;
	border-radius: 3px;
	border: 1px solid #2ec866;
	background-color: #2ec866;
	color: #fff;
	font-weight: normal;

}
#bs-example-navbar-collapse-1 ul li .sign-in:hover {
	color: #fff;
	background-color: #1db755;
}
.search-box .form-control {
	margin-top: 2em;
    border: 1px solid #2ec866;
    border-radius: 10px;
}
.fa-search {
	position: absolute;
    top: 38px;
    right: 28px;	
}
.banner {
	width: 100%;
	background-image: url(../img/banner.png);
	height: 450px;
	
	background-repeat: no-repeat;
	background-size: cover;

}
.banner h1 {
	color: #fff;
	text-align: center;
	font-weight: normal;
	margin-top: 4em;
	text-transform: uppercase;
	font-family: "Times New Roman", Times, serif;

}
.banner .form-horizontal {
	width: 450px;
	height: 40px;
    margin: 2em auto 0;
}
.form-horizontal button, input {
	margin: 10px;
}

/********Thong tin khoa hoc **************/
.hot_course {
	background: #f2f2f2;
}
#title_card {
	text-transform: uppercase;
	font-family: "Times New Roman", Times, serif;
	color: #444;

}
.information_course {
	border: 1px solid #dfeded;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
	background: #fff;


}
.information_course:hover {
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .7);
}
.information_course a {
	text-decoration: none;
}
.title_course {
	font-weight: 700;
	font-size: 20px;
	color: #444;
	margin-left: 10px;
	font-family: "Times New Roman", Times, serif;
}
.image_course {
	
}
.main_info {
	height: 200px;

}
.main_info p {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	padding: 10px;
	color: #808080;
	line-height: 1.5;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2ec866;
    
    padding: 0; 
    margin: 0 10px;
}
/******* Cach hoc *************/
.method_study {
	margin: 20px 0;
}
.learn {
	text-align: center;
}
.learn h5 {
	color: #444;
	font-size: 23px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;

}
.learn p {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #404040;
	

}
.method_study h2 {
	font-family: "Times New Roman", Times, serif;
	color: #444;
	margin: 20px 0;
	font-weight: 700;
}
.icon {
	color: #804000;
}
}




