
/********CSS for mobile********/

.logo img {
	width: 40%;
	margin-top: 10px;

}
.header_top .test,.header_top .navbar.navbar-default,.header_top .navbar-header {
	position: static;
}
.header_top .mobile {
	position: relative;
}
.header_top .navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.navbar-header button.navbar-toggle.collapsed {
	background-color: #fff;
	border-color: #fff;
	position: absolute;
	top: 0px;
	right: 0px;

}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: #FFF;
}
.navbar-default .navbar-toggle{
	position: absolute;
	top: 0px;
	right: 0px;
	
	border-color: #fff;
}
/*#bs-example-navbar-collapse-1.navbar-collapse.collapse.in {
	margin-top: 8px;
	border-color: #2ec866;
	}*/
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top: 8px;
		border-color: #2ec866;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #444;
	}
	.search-box {
		display: none;
	}
	ul.nav.navbar-nav li a {
		color: #444;
		font-family: "Times New Roman", Times, serif;
		font-size: 16px;

	}
	.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover  {
		background-color: #fff;
		color: #2ec866;
	}
	#bs-example-navbar-collapse-1 ul li .login {
		width: 30%;
		background-color: #fff;
		color: #2ec866;
		border-color: #2ec866;
		padding: 10px;
	}

	#bs-example-navbar-collapse-1 ul li .sign-in {
		width: 30%;
		float: right;
		margin-top: -43px;
		background-color: #2ec866;
		color: #fff;

	}
	.banner {
		display: none;
	}
	.hot_course {
		background: #e9eaea;
		margin-top: -18px;
	}
	.hot_course .information_course {
		margin-left: auto;
		margin-right: auto;
		
		margin-bottom: 3rem;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		transition: box-shadow .25s;
	}
	h2#title_card {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: .1rem;
		padding: 0;
		color: #5f5f5f;
		vertical-align: middle;
		margin: 40px 0 40px;
		font-family: "Times New Roman", Times, serif;
	}

	.information_course .main_info {
		background-color: #fff;
		
		padding: 20px;
		overflow: hidden;
	}
	h2.title_course {
		position: relative;
		font-size: 20px;
		font-weight: 700;
		color: #444;
		margin-top: 0;
		font-family: "Times New Roman", Times, serif;
	}
	.main_info hr {
		border-top: 2px solid #26a655;
	}
	.main_info p {
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		letter-spacing: .04em;

		color: #7b8b8e;
		position: relative;
		z-index: 0;
		margin: 0;
	}

	.method_study {
		padding-bottom: 30px;
		padding-top: 30px;
	}

	.method_study h2 {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: .1rem;
		padding: 0;
		color: #5f5f5f;
		vertical-align: middle;
		margin: 20px 0 10px;
	}

	.how_learn .icon {
		text-align: center;
		display: block;
		color: #795548;
		font-size: 12px;
		margin-top: 30px;
		margin-bottom: 15px;

	}
	.learn h5 {
		text-align: center;
		font-size: 28px;
		font-family: "Times New Roman", Times, serif;
		font-weight: 500;

	}
	.learn p {
		font-size: 16px;
		font-family: "Times New Roman", Times, serif;
		text-align: left;
		font-weight: 300;
		margin-left: 10px;


	}

	.comment {
		
		background: -webkit-linear-gradient(left,#bd9248,#d28a0f);
		background-size: cover;
	}

	.review_item::before {
		content: '“';
		font-size: 124px;
		line-height: 124px;
		color: #2ec866;
		position: absolute;
		left: 36%;
		top: -17px;

	}
	.image_student {
		margin-top: 20px;
		max-width: 100%;
		height: auto;

	}
	.review_text {
		margin-top: 35px;
		color: #fff;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.review_student {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.review_student a {
		font-size: 16px;
		text-decoration: none;
	}
	.review_author {
		color: #fff;
	}
	.submit_review {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.submit_review p {
		color: #fff;
		font-size: 15px;
	}
	.submit_review button {
	display: block;
    margin: 10px auto;
    border-color: #2ec866;
    
    text-transform: uppercase;
    padding: 10px;
    background-color: #2ec866;
    color: #fff;
	}

	#footer {
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;

	}
	#footer h4 {
		text-transform: uppercase;
		font-size: 22px;
		color: #5f5f5f;
		font-weight: 500;
	}
	#footer ul li {
		list-style-type:  none;
		text-align: left;
		padding: 0 0 11px;
		font-size: 16px;
		font-weight: 300;

	}
	#footer ul li a {
		color: #444;
	}
	.fa.fa-facebook-official.fa-5x {
		color: #3a5795;
		margin-right: 5px;
		font-size: 4em;
	}
	.fa.fa-youtube-square.fa-5x {
		color: #E62117;
		margin-right: 5px;
		font-size: 4em;

	}
	.fa.fa-twitter-square.fa-5x {
		color: #00aced;
		font-size: 4em;
	}
	.contact {
		text-align: left;
	}
	.contact h4 {
		text-align: center;
	}
	.fa.fa-phone-square {
		color: #8fcc2a;
		font-size: 3em;
		margin-right: 10px;
	}
	.phone_item {
		font-size: 16px;
		font-weight: 300;	
	}
	.fa.fa-envelope {
		font-size: 3em;
		margin-right: 10px;
		color: #7ac4e9;
	}
	.mail_item {
		font-size: 16px;
		font-weight: 300;
	}
/******CSS for 600px*********/
/*@media screen and (min-width: 600px) {
	.hot_course .item_course {
		width: 50%;
		float: left;
	}
/*	.information_course .main_info {
		/*height: 250px;*/
	/*}
	
	.comment .image_student img{
		width: 50%;
		margin-left: 3em;
	}
	.how_learn .learn {
		width: 33.33%;
		float: left;
	}
	.learn .code,.learn .video {
			height: 60px;
		}
	
	#footer .col-sm-4 {
		width: 33.33%;
		float: left;
	}
	.fa.fa-phone-square {
			font-size: 1.8em;
		}
	.fa.fa-envelope {
			font-size: 1.5em;
		}
	.phone_item {
			display: inline-block;
			margin-bottom: 1em;
		}*/
	



/*********CSS for Table************/
	@media screen and (min-width: 768px) {
		.header_top {
			height: 12em;
		}
		#bs-example-navbar-collapse-1 ul li .login {
			width: 100%;
		}
		#bs-example-navbar-collapse-1 ul li .sign-in {
			width: 100%;
			padding: 11px;
			margin-top: 0;
		}
		#bs-example-navbar-collapse-1 ul li:nth-child(5) {
			margin-right: 25px;
		}
		.search-box {
			display: block;
			position: relative;
			top: -140px;
		}
		i.fa.fa-search.fa-lg {
			position: absolute;
			right: 10px;
			top: 11px;
			color: #888;
		}
		.banner {
			width: 100%;
			background-image: url(../img/banner.png);
			height: 450px;
			background-repeat: no-repeat;
			background-size: cover;
			display: block;

		}
		.banner h1 {
			color: #fff;
			text-align: center;
			font-weight: normal;
			margin-top: 4em;
			text-transform: uppercase;
			font-family: "Times New Roman", Times, serif;

		}
		.form-horizontal .form-control {
			display: none;
		}
		.form-horizontal .btn.btn-success.btn-block {
			width: 50%;
			margin: 20px auto;
		}
		.form-horizontal button a {
			color: #fff;
		}
	
		
		.learn .code,.learn .video,.learn .project {
			height: 60px;
		}
		.comment .image_student img{
			width: 65%;
			margin-left: 3em;
		}
		.comment .review_student {
			margin-top: 1em;
		}

		#footer {
			padding-bottom: 10em;
		}
		.fa.fa-phone-square {
			font-size: 1.8em;
		}
		.fa.fa-envelope {
			font-size: 1.5em;
		}
		.phone_item {
			display: inline-block;
			margin-bottom: 1em;
		}

	}
		
	







	@media screen and (min-width: 992px) {


		.header_top .navbar-default {
			background-color: #fff;
			border-color: #fff;
		}
		.header_top .logo .img-responsive{
			width: 100%;
		}
		.header_top {
			height: 120px;
		}
		.header_top .test, .header_top .navbar.navbar-default, .header_top .navbar-header{
			margin-top: 1.5em;
			font-size: 1em;
		}
		.test {
			padding: 0;
		}
		.test .navbar.navbar-default {
			padding-left: 0.2em;
		}

		#bs-example-navbar-collapse-1 {
			margin-top: 16px;
			padding: 0;
		}
		#bs-example-navbar-collapse-1 ul li a {
			font-size: 1.5em;
			font-weight: 500;
			color: #39424E;
			padding-right: 1em;
			

		}
		.nav>li>a {
			padding: 0;
		}
		#bs-example-navbar-collapse-1 ul li a:hover {
			color: #2ec866;
		}

		#bs-example-navbar-collapse-1 ul li.active a {
			color: #2ec866;
			background-color: #fff;
		}
		#bs-example-navbar-collapse-1 ul li .login {
			padding: 10px 5px;
			border-radius: 3px;
			margin-top: -0.8em;
			
			border: 1px solid #2ec866;
			color: #2ec866;
			font-weight: normal;
			
		}
		#bs-example-navbar-collapse-1 ul li .login:hover {
			color: #fff;
			background-color: #2ec866;

		}
		#bs-example-navbar-collapse-1 ul li .sign-in {
			padding: 10px 15px;
			border-radius: 3px;
			margin-top: -0.8em;
			border: 1px solid #2ec866;
			background-color: #2ec866;
			color: #fff;
			font-weight: normal;

		}
		#bs-example-navbar-collapse-1 ul li .sign-in:hover {
			color: #fff;
			background-color: #1db755;
		}
		.search-box {
			top: 0;
		}
		.search-box .form-control {
			margin-top: 1em;
			margin-left: 1em;
			border: 1px solid #2ec866;
			border-radius: 10px;
		}
		i.fa.fa-search.fa-lg {
			position: absolute;
			top: 1.2em;
			right: 0;	
		}
		.banner {
			width: 100%;
			background-image: url(../img/banner.png);
			height: 450px;
			background-repeat: no-repeat;
			background-size: cover;
			display: block;

		}
		.banner h1 {
			color: #fff;
			text-align: center;
			font-weight: normal;
			margin-top: 3em;
			text-transform: uppercase;
			font-family: "Times New Roman", Times, serif;

		}
		.form-horizontal .form-control {
			display: block;
		}
		.banner .form-horizontal {
			width: 450px;
			height: 40px;
			margin: 2em auto 0;
		}
		.form-horizontal button, input {
			margin: 10px;
		}

		/********Thong tin khoa hoc **************/
		.hot_course {
			background: #f2f2f2;
		}
		#title_card {
			text-transform: uppercase;
			font-family: "Times New Roman", Times, serif;
			color: #444;

		}
		.information_course {
			border: 1px solid #dfeded;
			margin-bottom: 20px;
			margin-top: 20px;
			overflow: hidden;
			background: #fff;


		}
		.information_course:hover {
			box-shadow: 1px 2px 5px rgba(0, 0, 0, .7);
		}
		.information_course a {
			text-decoration: none;
		}
		.title_course {
			font-weight: 700;
			font-size: 20px;
			color: #444;
			margin-left: 10px;
			font-family: "Times New Roman", Times, serif;
		}
		.image_course {

		}
		.main_info {
			height: 200px;

		}
		.main_info p {
			font-family: "Times New Roman", Times, serif;
			font-size: 16px;
			padding: 10px;
			color: #808080;
			line-height: 1.5;
		}
		hr {
			display: block;
			height: 1px;
			border: 0;
			border-top: 1px solid #2ec866;

			padding: 0; 
			margin: 0 10px;
		}
		/******* Cach hoc *************/
		.method_study {
			margin: 20px 0;
			height: 360px;
		}
		.learn {
			text-align: center;
		}
		.learn h5 {
			color: #444;
			font-size: 23px;
			font-family: "Times New Roman", Times, serif;
			font-weight: bold;

		}
		.learn p {
			font-family: "Times New Roman", Times, serif;
			font-size: 16px;
			color: #404040;


		}
		.method_study h2 {
			font-family: "Times New Roman", Times, serif;
			color: #444;
			margin: 20px 0;
			font-weight: 700;
		}
		.icon {
			color: #804000;
		}


		.comment {
			background-image: url(../img/laptop3.jpg);
			height: 650px;

			background-repeat: no-repeat;
			background-size: cover;
		}
		#footer {
			height: 350px;
		}

	}




